<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ExchangeRate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SampleKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72A0C1EA1BBD9E780007B0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72A0C1F31BBD9E790007B0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72C515171BA5E588003A2A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72C5152F1BA5E588003A2A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72C515431BA5E5C2003A2A97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
